################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Org.RazorTextTemplatePreProcessor/Org.RazorTextTemplatePreProcessor/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
