@** HelperPage *@
@** zzzNamespace: My.Sample.Templates *@
@** zzzClassName: MySampleHtmlTemplate *@
@** zzzVisibility: internal *@
@** Remove#Lines : Useful to inspect generated code *@

@{
    Layout = "MyMasterPage.cshtml"
}

<h1>Hello</h1>

@helper Title(string title) { 
    <h1>@title</h1>
}

