@** HelperPage *@
@** Namespace: ABC.XYZ *@
@** ClassName: MyCustomClassName *@
@** Visibility: internal *@
@** Remove#Lines *@


@helper Title(string something)
{
    <div class="title">@something</div>
}

@helper SubTitle(string something)
{
    <div class="subtitle">@something</div>
}
