@** zzzNamespace: My.Sample.Templates *@
@** zzzClassName: MySampleTextTemplate *@
@** zzzVisibility: internal *@
@** Remove#Lines : if you do not care about useful debugging support *@
@inherits TextTemplate<string>

@{ 
    var x = 10;
}

<h1>Hello</h1>

@helper Something(string title) { 
    <div>@title</div>
}

